* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 17px;
    transition: background-color .25s ease-out;
}

window#waybar {
    background: transparent;
    color: #e6e8ee;
    transition: background-color .25s;
}

.modules-left,
.modules-center,
.modules-right {
    background: #0b1220;
    margin: 15px 15px 0 15px;
    padding: 0 5px;
    border-radius: 100px;
}

.modules-left {
    padding: 0 10px; 
}

#clock,
#cpu,
#memory,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#language {
    padding: 0 10px;
    border-radius: 100px;
}

#idle_inhibitor {
    padding: 0 26px 0 20px;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#custom-media:hover,
#tray:hover,
#idle_inhibitor:hover,
#language:hover {
    background: #111a2e;
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    font-size: 13pt;
    color: #e6e8ee;
    border: none;
    border-radius: 100px;
}

#workspaces button.active {
    background: #c9c6ff;
    color: #0b1220;
}

#workspaces button:hover {
    background: #c9c6ff;
    color: #0b1220;
    box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    transition: color .25s;
}

#custom-arch:hover {
    color: #61afef;
}

#custom-power {
    padding: 0 12px;
    border-radius: 100px;
    font-size: 17px;
    color: #e06c75;
}

#custom-power:hover {
    background: #111a2e;
    color: #61afef;
}
